In [1]:
import numpy as np   
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\smartbridge_datasets\bank.csv")

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
df.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
df=df.drop(["marital","education","default"],axis=1)

In [6]:
df.head()

,age,job,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [7]:
df.job.unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [8]:
df.housing.unique()

array(['yes', 'no'], dtype=object)

In [9]:
df.loan.unique()

array(['no', 'yes'], dtype=object)

In [10]:
df.contact.unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [11]:
df.month.unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [12]:
df.poutcome.unique()

array(['unknown', 'other', 'failure', 'success'], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()      
df["job"]= le.fit_transform(df["job"])
df["housing"]= le.fit_transform(df["housing"])
df["loan"]= le.fit_transform(df["loan"])
df["contact"]= le.fit_transform(df["contact"])
df["month"]= le.fit_transform(df["month"])
df["poutcome"]= le.fit_transform(df["poutcome"])
df["deposit"]= le.fit_transform(df["deposit"])

In [14]:
x=df.iloc[:,:13].values
y=df.iloc[:,13:14].values

In [15]:
x

array([[  59,    0, 2343, ...,   -1,    0,    3],
       [  56,    0,   45, ...,   -1,    0,    3],
       [  41,    9, 1270, ...,   -1,    0,    3],
       ...,
       [  32,    9,   29, ...,   -1,    0,    3],
       [  43,    9,    0, ...,  172,    5,    0],
       [  34,    9,    0, ...,   -1,    0,    3]], dtype=int64)

In [16]:
y

array([[1],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]])

In [17]:
x.shape

(11162, 13)

In [18]:
y.shape

(11162, 1)

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x , y , test_size=0.2 , random_state=20)

In [20]:
x_train=np.asarray(x_train).astype('float32')
x_test=np.asarray(x_test).astype('float32')
y_train=np.asarray(y_train).astype('float32')
y_test=np.asarray(y_test).astype('float32')

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [22]:
from tensorflow.keras.models import Sequential   
from tensorflow.keras.layers import Dense

In [23]:
c=Sequential()

In [24]:
c.add(Dense(13,kernel_initializer= "random_uniform",activation="relu"))

WARNING:tensorflow:From C:\Users\akhil\anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [25]:
c.add(Dense(26,kernel_initializer= "random_uniform",activation="relu"))

In [26]:
c.add(Dense(1,kernel_initializer= "random_uniform",activation="sigmoid"))

In [27]:
c.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [28]:
c.fit(x_train,y_train,batch_size=32,epochs=100)

WARNING:tensorflow:From C:\Users\akhil\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/100
8929/8929 [==============================] - 1s 111us/sample - loss: 0.5531 - acc: 0.7352
Epoch 2/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4531 - acc: 0.7970
Epoch 3/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4460 - acc: 0.8004
Epoch 4/100
8929/8929 [==============================] - 0s 56us/sample - loss: 0.4403 - acc: 0.8048
Epoch 5/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4362 - acc: 0.8045
Epoch 6/100
8929/8929 [==============================] - 1s 57us/sample - loss: 0.4341 - acc: 0.8061
Epoch 7/100
8929/8929 [==============================] - 1s 63us/sample - loss: 0.4317 - acc: 0.8061
Epoch 8/100
8929/8929 [==============================] - 1s 61us/sample - loss: 0.4309 - acc: 0.8071
Epoch 9/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4273 - acc: 0.8073
Epoch 10/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.4266 - acc: 0.8084
Epoch 11/100
8929/8929 [==============================] - 1s 57us/sample - loss: 0.4247 - acc: 0.8096
Epoch 12/100
8929/8929 [==============================] - 1s 59us/sample - loss: 0.4236 - acc: 0.8105
Epoch 13/100
8929/8929 [==============================] - 1s 58us/sample - loss: 0.4224 - acc: 0.8103
Epoch 14/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4211 - acc: 0.8096
Epoch 15/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4194 - acc: 0.8126
Epoch 16/100
8929/8929 [==============================] - ETA: 0s - loss: 0.4203 - acc: 0.809 - 1s 67us/sample - loss: 0.4187 - acc: 0.8104
Epoch 17/100
8929/8929 [==============================] - 1s 57us/sample - loss: 0.4181 - acc: 0.8116
Epoch 18/100
8929/8929 [==============================] - 1s 56us/sample - loss: 0.4161 - acc: 0.8116
Epoch 19/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4147 - acc: 0.8126
Epoch 20/100
8929/8929 [==============================] - 1s 63us/sample - loss: 0.4140 - acc: 0.8122
Epoch 21/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4135 - acc: 0.8142
Epoch 22/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4122 - acc: 0.8140
Epoch 23/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.4105 - acc: 0.8169
Epoch 24/100
8929/8929 [==============================] - 1s 56us/sample - loss: 0.4111 - acc: 0.8132
Epoch 25/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.4102 - acc: 0.8143
Epoch 26/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4098 - acc: 0.8141
Epoch 27/100
8929/8929 [==============================] - 1s 60us/sample - loss: 0.4089 - acc: 0.8176
Epoch 28/100
8929/8929 [==============================] - 1s 57us/sample - loss: 0.4083 - acc: 0.8125
Epoch 29/100
8929/8929 [==============================] - 1s 59us/sample - loss: 0.4077 - acc: 0.8164
Epoch 30/100
8929/8929 [==============================] - 1s 58us/sample - loss: 0.4073 - acc: 0.8174
Epoch 31/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4062 - acc: 0.8166
Epoch 32/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4073 - acc: 0.8157
Epoch 33/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4051 - acc: 0.8177
Epoch 34/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4058 - acc: 0.8179
Epoch 35/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.4045 - acc: 0.8180
Epoch 36/100
8929/8929 [==============================] - 1s 58us/sample - loss: 0.4049 - acc: 0.8166
Epoch 37/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4043 - acc: 0.8195
Epoch 38/100
8929/8929 [==============================] - 1s 59us/sample - loss: 0.4034 - acc: 0.8208
Epoch 39/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.4051 - acc: 0.8167
Epoch 40/100
8929/8929 [==============================] - 1s 60us/sample - loss: 0.4039 - acc: 0.8167
Epoch 41/100
8929/8929 [==============================] - 1s 62us/sample - loss: 0.4030 - acc: 0.8199
Epoch 42/100
8929/8929 [==============================] - 1s 60us/sample - loss: 0.4037 - acc: 0.8199
Epoch 43/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.4025 - acc: 0.8197
Epoch 44/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4020 - acc: 0.8199
Epoch 45/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4042 - acc: 0.8149
Epoch 46/100
8929/8929 [==============================] - 0s 56us/sample - loss: 0.4029 - acc: 0.8199
Epoch 47/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4014 - acc: 0.8188
Epoch 48/100
8929/8929 [==============================] - 1s 57us/sample - loss: 0.4024 - acc: 0.8185
Epoch 49/100
8929/8929 [==============================] - 1s 66us/sample - loss: 0.4043 - acc: 0.8157
Epoch 50/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4007 - acc: 0.8195
Epoch 51/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4010 - acc: 0.8170
Epoch 52/100
8929/8929 [==============================] - 1s 56us/sample - loss: 0.4036 - acc: 0.8188
Epoch 53/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.4008 - acc: 0.8194
Epoch 54/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4046 - acc: 0.8168
Epoch 55/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.4008 - acc: 0.8179
Epoch 56/100
8929/8929 [==============================] - 1s 56us/sample - loss: 0.4003 - acc: 0.8197
Epoch 57/100
8929/8929 [==============================] - 0s 56us/sample - loss: 0.4000 - acc: 0.8197
Epoch 58/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3997 - acc: 0.8209
Epoch 59/100
8929/8929 [==============================] - 1s 70us/sample - loss: 0.4002 - acc: 0.8194
Epoch 60/100
8929/8929 [==============================] - 1s 68us/sample - loss: 0.3999 - acc: 0.8205
Epoch 61/100
8929/8929 [==============================] - 1s 65us/sample - loss: 0.3981 - acc: 0.8209
Epoch 62/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3996 - acc: 0.8208
Epoch 63/100
8929/8929 [==============================] - 1s 61us/sample - loss: 0.3994 - acc: 0.8202
Epoch 64/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3985 - acc: 0.8215
Epoch 65/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3999 - acc: 0.8227
Epoch 66/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3988 - acc: 0.8205
Epoch 67/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3973 - acc: 0.8245
Epoch 68/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.3966 - acc: 0.8241
Epoch 69/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3973 - acc: 0.8223
Epoch 70/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3977 - acc: 0.8227
Epoch 71/100
8929/8929 [==============================] - 0s 52us/sample - loss: 0.3979 - acc: 0.8222
Epoch 72/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3957 - acc: 0.8225
Epoch 73/100
8929/8929 [==============================] - 1s 56us/sample - loss: 0.3955 - acc: 0.8216
Epoch 74/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3956 - acc: 0.8225
Epoch 75/100
8929/8929 [==============================] - 0s 56us/sample - loss: 0.3958 - acc: 0.8228
Epoch 76/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3951 - acc: 0.8217
Epoch 77/100

8929/8929 [==============================] - 0s 51us/sample - loss: 0.3958 - acc: 0.8222
Epoch 78/100
8929/8929 [==============================] - 0s 51us/sample - loss: 0.3948 - acc: 0.8224
Epoch 79/100
8929/8929 [==============================] - 0s 49us/sample - loss: 0.3951 - acc: 0.8225
Epoch 80/100
8929/8929 [==============================] - 0s 56us/sample - loss: 0.3937 - acc: 0.8262
Epoch 81/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3947 - acc: 0.8237
Epoch 82/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3943 - acc: 0.8242
Epoch 83/100
8929/8929 [==============================] - 0s 50us/sample - loss: 0.3940 - acc: 0.8230
Epoch 84/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.3940 - acc: 0.8245
Epoch 85/100
8929/8929 [==============================] - 1s 57us/sample - loss: 0.3924 - acc: 0.8250
Epoch 86/100
8929/8929 [==============================] - 1s 63us/sample - loss: 0.3925 - acc: 0.8248
Epoch 87/100
8929/8929 [==============================] - 1s 60us/sample - loss: 0.3924 - acc: 0.8245
Epoch 88/100
8929/8929 [==============================] - 1s 60us/sample - loss: 0.3912 - acc: 0.8261
Epoch 89/100
8929/8929 [==============================] - 1s 59us/sample - loss: 0.3910 - acc: 0.8258
Epoch 90/100
8929/8929 [==============================] - 1s 64us/sample - loss: 0.3902 - acc: 0.8275
Epoch 91/100
8929/8929 [==============================] - 1s 62us/sample - loss: 0.3916 - acc: 0.8256
Epoch 92/100
8929/8929 [==============================] - 1s 56us/sample - loss: 0.3900 - acc: 0.8260
Epoch 93/100
8929/8929 [==============================] - 1s 59us/sample - loss: 0.3909 - acc: 0.8272
Epoch 94/100
8929/8929 [==============================] - 1s 61us/sample - loss: 0.3893 - acc: 0.8280
Epoch 95/100
8929/8929 [==============================] - 1s 61us/sample - loss: 0.3880 - acc: 0.8285
Epoch 96/100
8929/8929 [==============================] - 0s 50us/sample - loss: 0.3890 - acc: 0.8264
Epoch 97/100
8929/8929 [==============================] - 0s 51us/sample - loss: 0.3880 - acc: 0.8281
Epoch 98/100
8929/8929 [==============================] - 0s 54us/sample - loss: 0.3880 - acc: 0.8269
Epoch 99/100
8929/8929 [==============================] - 0s 53us/sample - loss: 0.3887 - acc: 0.8276
Epoch 100/100
8929/8929 [==============================] - 0s 55us/sample - loss: 0.3877 - acc: 0.8285

In [30]:
ypred=c.predict(x_test)
ypred

array([[0.77898896],
       [0.9080199 ],
       [0.6335058 ],
       ...,
       [0.9427918 ],
       [0.00822687],
       [0.08234449]], dtype=float32)

In [31]:
y_test

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [0.],
       [0.]], dtype=float32)

In [32]:
ypred[0]

array([0.77898896], dtype=float32)

In [33]:
y_test[0]

array([1.], dtype=float32)

In [37]:
c.predict(sc.transform([[59,0,2343,1,0,2,5,8,1042,1,-1,0,3]]))

array([[0.8310026]], dtype=float32)

In [40]:
c.predict_classes(sc.transform([[39,7,733,0,0,2,16,6,83,4,-1,0,3]]))

array([[0]])